@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

* {
  box-sizing: border-box;
}



html,
body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #787659;
}

/**** NAVBAR ****/

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  padding: 1em;
  height: 40px;
  background: #000;
  color: #787659;
  border: solid 1px #787659;
}

.navbar__logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 20px;
}

.navbar__linksContainer {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.navbar__links {
  display: flex;
  gap: 20px;
}

.navbar__cart {

}
.navbar__link {
  font-size: 1.5rem;
}

/**** HOME ****/

.home {
  display: flex;
  flex-direction: column;
  height: 97%;
  border: 1px solid #787659;
}

.home__title {
  position: absolute;
  color: #000;
  left: 37%;
  top: 40%;
  font-size: 3.5rem;
  font-family: Babylonica;
  word-spacing: 8px;
}

.home__video {
 height: 95.5vh;
 object-fit: cover;
}

/**** SHOP ****/

.shop {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid #787659;  
}

.shop__title {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  margin: 1em 0 1.5em 0;
}

.shop__select {
  width: 150px;
  align-self: center;
  margin-bottom: 1.5rem;
}

.shop__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.2em;
}

.shop__button {
  width: 150px;
  align-self: center;
  margin: 1.5rem 0 1.5rem 0;
}
/*** CARD ***/

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  width: 200px;

  
}

.item__image {
  width: 190px;
  height: 350px;
}

.item__name {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 8px 0 8px 0;
}

.item__description {
  text-align: center;
}

.item__price {
  text-align: center;
  margin-right: 5px ;
}

.item--inline {
  display: flex;
}

/**** ITEM PAGE ****/

.itempage {
  display: flex;
  height: 700px;
  width: 700px;
  border: 1px solid #787659;
  position: fixed;  
  top: 85px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  align-self: flex-start;
  background-color: #000;
}

.itempage__title {
  font-size: 2rem;
  text-decoration: underline;
}

.itempage__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itempage__img {
  width: 275px;
  margin-left: 1em;
}

.itempage__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.itempage__text {
  font-size: 1.5rem;
}

.itempage__rune {
  margin-left: .5em;
  align-self: center;
}

/**** ABOUT ****/

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #787659;
}

.about__title {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  margin: 1em 0 1.5em 0;
}

/**** CART ****/

.cart {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid #787659;
}

.cart__title {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  margin: 1em 0 1.5em 0;
}

.cart__container {
  display: flex;
}